<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  xmlns:dist="http://schemas.android.com/apk/distribution"
  package="com.raywenderlich.conditionaldeliveryexample">

  <dist:module
    dist:instant="false"
    dist:title="@string/title_conditionaldeliveryexample">
    <dist:delivery>
      <dist:install-time>
        <dist:conditions>
          <dist:user-countries dist:exclude="false">
            <dist:country dist:code="US" />
          </dist:user-countries>
          <dist:device-feature dist:name="android.hardware.audio.output" />
        </dist:conditions>
      </dist:install-time>
    </dist:delivery>
    <dist:fusing dist:include="true" />
  </dist:module>
</manifest>
